{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"singleQuote": true,
	"trailingComma": "es5",
	"semi": true,
	"useTabs": true,
	"overrides": [
		{
			"files": ["*.yml", "package.json", "package-lock.json"],
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
